* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343541;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
    font-style: normal;


    padding: 0 20px;
    text-align: left;
    width: 100%;
    /* height: 150px; */
    border-radius: 5px;
    color: #afe5f4;
}

input {
    font-size: 20px;
    padding-left: 15px;
    margin-left: 20px;
    height: 50px;
    width: 250px;
    /* outline: none; */
}

.icon-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-gap: 1rem;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.icon-card {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 120px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    color: #afe5f4;
    text-align: center;
    /* word-break: normal;
    overflow: hidden; */
}

.icon-card svg {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    fill: #afe5f4;
}

.font-narrow {
    font-family: Bahnschrift, Barlow, Microsoft YaHei, Noto Sans SC, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}